<a href="https://colab.research.google.com/github/saso94/superenalotto/blob/main/superenalotto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# leggi il file excel

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Estrazioni.xlsx')

# stampa il contenuto

print(df)

     Hai cercato:\nN.           Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0               conc.           Data estr.         1°         2°         3°
1                  59  2023-05-18 00:00:00          5         16         35
2                  58  2023-05-16 00:00:00         20         42         52
3                  57  2023-05-13 00:00:00          3         31         35
4                  56  2023-05-11 00:00:00          1          6         35
...               ...                  ...        ...        ...        ...
3576                5  1997-12-17 00:00:00         10         65         77
3577                4  1997-12-13 00:00:00          5         22         34
3578                3  1997-12-10 00:00:00          1          2         14
3579                2  1997-12-06 00:00:00          2          4         25
3580                1  1997-12-03 00:00:00         20         36         39

     Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9
0            4°         5°         6°          J         SS
1            63         69         77         29          3
2            67         72         77         82          3
3            57         82         84         68         16
4            48         62         65         43         83
...         ...        ...        ...        ...        ...
3576         80         81         86         89        NaN
3577         61         62         77         58        NaN
3578         23         78         88         40        NaN
3579         29         30         52         24        NaN
3580         41         72         76         88        NaN

[3581 rows x 10 columns]

- in questa prima parte ho caricato il database convertito in formato excel (xlsx), effettuato una lettura tramite la funzione read.excel di pandas e stampato il tutto

In [ ]:
# formattare i dati per visualizzarli in tabella

from tabulate import tabulate
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Estrazioni.xlsx')

# visualizza i dati come tabella

tabella = tabulate(df, headers='keys', tablefmt='psql')
print(tabella)

- ho dato una formattazione ai dati tramite tabulate. ho inserito il comando per visualizzare il dataframe come tabella. mi sono reso conto che devo selezionare righe e colonne per poter lavorare.

In [ ]:
DB_principale = "df"

# ho salvato i dati in una variabile e convertito in dataframe



# rimuovere ora da colonna 1 lasciando solo la data




# selezionare righe e colonne e dividere di dati secondo 'anno'

# dividere i numeri normali dai numeri jolly e superstar

#salva un dataframe con variabili data, jolly, ss

# trovare per ogni anno il valore massimo e il valore minimo per ogni colonna mensile. salvare dataframe

# calcolare numeri frequenti, numeri meno frequenti su base settimanale e salvare dataframe

# il valore più comune e quello più raro annuo per ogni mese e salvare dataframe

# calcolare moda, media, mediana mensile per ogni anno e salvare dataframe

# creare una variabile che esclude un numero se questo viene selezionato all'interno di una combinazione. 

# combinazione: 6 numeri di cui 2 spesso, 2 ritardatari e 2 casuali.
# combinazione: 6 numeri di cui 1 s, 3 r e 2 c.
# combinazione: 6 numeri di cui 3 s, 1 r e 2 c.
# combinazione: 6 numeri di cui 4 s, 0 r e 2 c.
# combinazione: 6 numeri di cui 0 s, 4 r e 2 c.
# combinazione: 6 numeri di cui 3 s, 3 r e 0 c.
# combinazione: 6 numeri di cui 1 s, 1 r e 4 c. 
# combinazione jolly/ss: 1s,1r; 1r,1s; 1s,1s; 1r,1r. 

# usare framework per creare GUI

# inserire il tutto come app